/* App.css */

body {
  font-family: 'Inter', sans-serif;
  background: #F3F4F6;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;   /* centraliza horizontal */
  align-items: flex-start;    /* se quiser bem no meio: center */
  padding-top: 40px;          /* opcional: dá um pequeno espaço superior */
}


.app-container {
  width: 700px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}


h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #111827;
}

.category-block {
  margin-top: 30px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
}

input {
  padding: 10px;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  margin-right: 10px;
  width: 60%;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #3B82F6;
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.4);
}

button {
  background: #3B82F6;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #2563EB;
}

.task-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.task-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.task-completed {
  text-decoration: line-through;
  color: #6B7280;
}
